/.gradle
/.idea
/.settings
/.vscode
/bin
/build
/classes
/gradle/wrapper/gradle-wrapper.jar
/out
/run

*.DS_Store
*.hprof
*.iml
*.ipr
*.iws
*.jfr
*.launch
.classpath
.project
hs_err_*.log
replay_*.log
